body 
	color blue
	background black
.tablet
.desktop	
	display none
	
@media screen and (min-width: 480px)
	body
		background red
		color white
	.tablet
		display block
	.cel
	.desktop
		display none
@media screen and (min-width: 1000px)
	body 
		color green
		background white
	.tablet 
	.cel
		display none
	
	.desktop
		display block
	